.add{
  padding-right: 1%;
  display: flex;
}

.myButton{
  height: 3vh;
  background-color: blueviolet;
  color: white;
  border-radius: 6px;
  padding: 2vh;
  &:hover{
    cursor: pointer;
  }
}

.form{
  display: flex;
  justify-content: flex-end;
  input{
    width: 12%;
    border: 2px solid blueviolet;
    margin-right: 2%;
    text-align: center;
    border-radius: 6px;
  }
}